.container{
    text-align: center;
    margin-top:25px
}

table{
    margin: auto;
}

input{
    border-radius: 20px;
    border: 5px solid black;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 3px;
    font-size: 40px;
    background:white;
    width: 100px;
    height: 80px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid  black;
    background-color:#e3f9ff;
    padding: 20px;
    border-radius: 40px;
    display:inline-table;
    
}

h1{
    font-size: 35px;
    font-family: 'Times New Roman', 'Cambria', and Garamond.;
}
